<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/727cebf8-6a37-46eb-b763-784d30e009a2/resourceGroups/UrbanTrail_group/providers/Microsoft.Web/sites/UrbanTrail</ResourceId>
    <ResourceGroup>UrbanTrail_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://urbantrail.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>876ac6cc-9758-4a4e-bb5e-d4484d7ce785</ProjectGuid>
    <PublishUrl>https://urbantrail.scm.azurewebsites.net/</PublishUrl>
    <UserName>$UrbanTrail</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>